- name: Main
  hosts: vms
  vars:
    swap_size_mb: 1024
    zerotier_network_id: "<network_id>"
    airsane_build_dir: "{{ ansible_env.HOME }}/Projects/AirSane-build/"
    usb_device_path: "/dev/sda1"
    usb_mount_path: "/media/usb-drive"
  tasks:
    - name: Get Distribution Facts
      ansible.builtin.include_tasks:
        file: tasks/get_facts.yml

    - name: Initial setup
      ansible.builtin.include_tasks:
        file: tasks/initial_setup.yml
      when: initial_setup is defined and initial_setup.enabled

    - name: Initial sshd setup
      ansible.builtin.include_tasks:
        file: tasks/ssh.yml
      when: ssh_setup is defined and ssh_setup.enabled

    - name: Generate new ssh key
      ansible.builtin.include_tasks:
        file: tasks/ssh_key.yml
      when: generate_ssh_key is defined and generate_ssh_key.enabled

    - name: Generate new ssh key
      ansible.builtin.include_tasks:
        file: tasks/swap.yml
      when: swap_setup is defined and swap_setup.enabled

    - name: Copy Assets
      ansible.builtin.include_tasks:
        file: tasks/copy_assets.yml

    - name: Setup git
      ansible.builtin.include_tasks:
        file: tasks/git.yml
      when: git_setup is defined and git_setup.enabled

    - name: Setup - pyenv
      ansible.builtin.include_tasks:
        file: tasks/pyenv.yml
      when: pyenv_setup is defined and pyenv_setup.enabled

    - name: Setup - rclone
      ansible.builtin.include_tasks:
        file: tasks/rclone.yml
      when: rclone_setup is defined and rclone_setup.enabled

    - name: Docker
      ansible.builtin.include_tasks:
        file: tasks/docker.yml
      when: docker_setup is defined and docker_setup.enabled


#    - name: SWAP
#      ansible.builtin.include_tasks:
#        file: tasks/swap.yml
#

#
#    - name: SSH
#      ansible.builtin.include_tasks:
#        file: tasks/ssh.yml
#
#    - name: ZeroTier
#      ansible.builtin.include_tasks:
#        file: tasks/zerotier.yml
#
#    - name: pyenv
#      ansible.builtin.include_tasks:
#        file: tasks/pyenv.yml
#
#    - name: CUPS
#      ansible.builtin.include_tasks:
#        file: tasks/cups.yml
#
#    - name: AirSane
#      ansible.builtin.include_tasks:
#        file: tasks/airsane.yml
#
#    - name: Docker
#      ansible.builtin.include_tasks:
#        file: tasks/docker.yml

# ========== OPTIONAL ==================

#    - name: Docker to USB
#      ansible.builtin.include_tasks:
#        file: tasks/docker_to_usb.yml

#    - name: Personal projects
#      ansible.builtin.include_tasks:
#        file: tasks/projects.yml
